{% extends 'base.html.twig' %}

{% block title %}Book - {{ book.title }}{% endblock %}

{% block body %}
    <h2>{{ book.title }}</h2>
    {% if comments|length > 0 %}
        <div>There are {{ comments|length }} comments</div>
        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}"/>
            {% endif %}

            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>

            <h5>{{ comment.title }}</h5>
            <p>{{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('app_book_show', { id: book.id, offset: previous, slug: book.slug }) }}">Previous</a>
        {% endif %}
        {% if next <= comments|length %}
            <a href="{{ path('app_book_show', { id: book.id, offset: next, slug: book.slug }) }}">Next</a>
        {% endif %}

    {% else %}
        <div>No comments have been posted yet for this conference.</div>
    {% endif %}

    <h2>Add your own feedback</h2>

    {{ form(comment_form) }}

    <hr />
    <h2>Send a reservation request</h2>
    {{ form(reservation_request_form) }}
{% endblock %}